[user]
	name = Mordecai K.
	email = 39312305+insidemordecai@users.noreply.github.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[http]
	postBuffer = 524288000
[ssh]
	postBuffer = 524288000
